/* styles.scss */
.main-leads-container {
  margin: 35px;

  .leads-container {

    input[type=checkbox],
    input[type=radio] {
      top: 17px;
      left: 13px;
    }
  }
}


/* Style the table container */
.table-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.action-button {
  display: flex;
  gap: 20px;
}

button.view-button,
button.delete-button {
  cursor: pointer;
  background-color: unset;
  border: none;
  transition: all 0.3s ease;

  &:hover {
    color: #135e96;
    transform: scale(1.1);
  }

  &:active {
    color: #135e96;
  }
}


.details-leads {
  background: #ffffff;
  width: 100vh;
  min-height: 65vh;
  padding: 30px;

  .leads-title {
    text-align: left;
  }

  .datagrid-container {

    input[type=checkbox],
    input[type=radio] {
      top: 17px;
      left: 13px;
    }
  }


}



// New data grid modal design 
.datagrid-container {
  height: 100%;
  width: 100%;
}