/* Styles for the form container */
.form-fields {
    width: 25%;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    height: max-content;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles for form labels */
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  /* Styles for text inputs */
  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  

/* Style for the select container */
.simple-form-select {
    // display: flex;
    align-items: center; /* Vertically align the label and options */
    margin-bottom: 20px;
  }
  
  /* Style for the select label */
  .simple-form-select label {
    margin-right: 10px; /* Add some spacing between label and options */
    font-weight: bold;
    vertical-align: middle; /* Align the label with the middle of the radio input */
    margin-top: 4px;
  }
  
  /* Style for the individual option container */
  .simple-form-fields {
    display: flex;
    align-items: center; /* Vertically align the input and label within each option */
    margin-right: 20px; /* Add some spacing between options */
  }
  
  /* Style for the radio input */
  .simple-form-fields input[type="radio"] {
    margin-right: 5px; /* Add some spacing between radio input and label */
    vertical-align: middle; /* Align the radio input with the middle of the label */
  }
  
  
    /* Toggle */
    /* Add your custom styles for the toggle switch */
    .simple-form-checkbox-toggle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
    }

    .switch-label {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .switch-input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }

    .slider {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 20px;
      background-color: #ccc;
      border-radius: 20px;
      transition: background-color 0.4s;
    }

    .slider.round {
      border-radius: 20px;
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      border-radius: 50%;
      transition: transform 0.4s;
    }

    .switch-input:checked + .slider {
      background-color: #2196F3; /* Change this color to your desired toggle color */
    }

    .switch-input:checked + .slider:before {
      transform: translateX(20px); /* Adjust this value to match the width of the slider */
    }

  
  /* Style for the form submit button */
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  