//Table Item Styles
.table_info-action_box_wrapper {
    border-bottom: 1px dotted #c9c9c9;
    padding: 11px;

    .table_info-action_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        .table-info-box {
            margin-right: 10px;

            .table-info {
                .ElastiForm-title {
                    &.h4 {
                        color: #1e1e1e;
                        margin-bottom: 10px;
                    }

                    &.p {
                        color: #666873;
                        margin-bottom: 0;
                    }
                }

                @media (max-width: 550.98px) {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .ElastiForm-title {
                        &.h4 {
                            margin-bottom: 0px;
                            margin-right: 10px;
                        }
                    }
                }
            }

            @media (max-width: 550.98px) {
                margin-right: 0;
                margin-bottom: 20px;
                width: 100%;
            }
        }

        .table-action-box {
            display: flex;
            align-items: center;
            justify-content: center;

            .btn-shortcode {
                margin-right: 32px;
            }

            .table-edit {
                margin-right: 32px;
                align-items: center;
                display: flex;
            }

            .table-delete {
                margin-right: 32px;
                align-items: center;
                display: flex;
            }
        }

        @media (max-width: 550.98px) {
            flex-direction: column;
            width: 100%;
        }
    }
}

.add-neew-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scf-form-delete {}