.ElastiForm-container-fluid,
.ElastiForm-container {
	margin-right: auto;
	margin-left: auto;
	background: #ffffff;
	padding: 50px;

}

.ElastiForm-container.ElastiForm-container {
	margin-top: 46px;
	padding: 0px;
	max-width: 95%;
	width: 95%;
}

.ElastiForm-container-fluid.hero,
.ElastiForm-container.hero {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ElastiForm-container-fluid {
	padding-right: 2rem;
	padding-left: 2rem;
}

@media only screen and (min-width: 782px) {
	.ElastiForm-container {
		padding: 0 30px;
	}
}

@media only screen and (min-width: 1042px) {
	.ElastiForm-container {
		max-width: 85rem;

		&.full-width {
			max-width: 100%;
		}

		&.small {
			max-width: 810px;
		}
	}
}